<mat-toolbar class="bottom-nav">
    <span class="center">
        <button routerLink="home" mat-button matTooltip="Goto Your Feed"><i class="material-icons">home</i>
        </button>

        <button mat-button><i class="fa fa-search" style="font-size:1.3rem"></i>
        </button>

        <button mat-button><i class="fa fa-plus-square-o" style="font-size:1.3rem"></i>
        </button>

        <button mat-button><i class="fa fa-heart-o" style="font-size:1.3rem"></i>
        </button>

        <button routerLink="bookmark" matTooltip="See Your Bookmarks" mat-button><i class="fa fa-bookmark-o"
                style="font-size:1.3rem"></i>
        </button>
    </span>

</mat-toolbar>
