<ion-toolbar class="bottom-nav">
    <ion-buttons>
        <ion-button>
                <ion-icon name="home-outline"></ion-icon>
                <ion-icon name="home" *ngIf="false"></ion-icon>
        </ion-button>
        <ion-button>
                <ion-icon name="search-outline"></ion-icon>
                <ion-icon name="search" *ngIf="false"></ion-icon>
        </ion-button>
        <ion-button>
                <ion-icon name="camera-outline"></ion-icon>
                <ion-icon name="camera" *ngIf="false"></ion-icon>
        </ion-button>
        <ion-button>
                <ion-icon name="heart-outline"></ion-icon>
                <ion-icon name="heart" *ngIf="false"></ion-icon>
        </ion-button>
        <ion-button>
                <ion-icon name="person-circle-outline"></ion-icon>
                <ion-icon name="person-circle" *ngIf="false"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>