<div class="bookmark-container">
    <div *ngIf="available" class="bookmarks">
      <ion-card class="post" *ngFor="let post of bookmarkedPosts;">
        <ion-card-header class="no-padding-inline no-padding">
          <ion-item lines="none">
            <ion-avatar size="small">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label class="post-author" style="margin-left:5px">
              {{ post.author.toLowerCase() }}
            </ion-label>
          </ion-item>
        </ion-card-header>
        <img mat-card-image [src]="post.imagePath" [alt]="post.author"/>
      </ion-card>
    </div>
    <div *ngIf="!available" class="alert alert-danger">
        No Bookmarks
    </div>
</div>
