/* You can add global styles to this file, and also import other style files */
:root {
  --ion-safe-area-top: 20px;
  /* --ion-safe-area-bottom: 22px; */
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-icons {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
