.feed {
  width: 100%;
  margin: 0px auto;
}

.post-author {
  font-weight: bold;
  margin-right: 0.5em;
}

.post-header-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png");
  background-size: cover;
}

.more-btn {
  margin-left: 1rem;
  font-weight: lighter;
  cursor: pointer;
}

.btn-right {
  margin-left: auto;
  width: 40px;
}

#more-hide {
  font-style: italic;
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.6);
}
