.feed-container {
    width: 95%;
    margin: 0px auto;
}

mat-spinner {
  margin: 0px auto;
  width: 5rem;
}

mat-card-actions button {
  padding: 0px;
  margin: 0px;
}

mat-card-actions i {
  font-size: 1.2rem;
}

.feed {
  width: 100%;
  margin: 0px auto;
}

.post {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 2rem;
  }

  .post-author {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .post-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png');
    background-size: cover;
  }

.more-btn {
    margin-left: 1rem;
    font-weight: lighter;
    cursor: pointer;
}

.last {
    margin-bottom: 50px;
}
.btn-right {
    margin-left: auto;
    width: 40px;
}

  